body {
    background-color: #fff;
    color: #757575;
}

.logo {
    color: #2196F3;
}
.list {
    list-style: none;
}

/*
 #212121 цвет основного текста  
#757575 параграфы
#FFFFFF заголовок
#2196F3 основной 
rgba(255, 255, 255, 0.6) */