body {
    background-color: #fff;
    color: #212121;
}

.logo {
    color: #2196F3;
}
.list {
    list-style: none;
}
/* Site nav */
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
color:#2196F3;
}
 .address .link {
    color: #757575;
 }

.address .link:hover,
.address .link:focus
{
    color: #2196F3;
}
.features-title {
    color: #212121;
}
.features-description {
    color: #757575;
}
.hero-title {
    color: #fff;
}
.hero {
    background-color: #2F303A;
}
.example-title, .team-title {
  color: #212121;
}

/*
 #212121 цвет основного текста  
#757575 параграфы
#FFFFFF заголовок
#212121 основной 
rgba(255, 255, 255, 0.6) */